
{% extends 'AndaimeFrontendBundle::layout.html.twig' %}

{% block title %}manual - {{ manual.title }}{% endblock %}
{% block global %}indent{% endblock %}
{% block manuais %}active{% endblock %}
{% block body %}
<script>
   $(window).load(function() {
     // Initialize the gallery
    $('.list3 figure a').touchTouch();
  });
  </script> 
 <div class="container">
        <div class="row">
             <article class="col-lg-4 col-md-4 col-sm-6">
                <ul class="plus_list">
                    {% for p in manuals %}
                        <li><a href="{{ path('andaime_frontend_view_manual', { 'manual': p.id }) }}">{{ p.title }}</a></li>
                    {% endfor %}
                </ul>
                
            </article>
            <article class="col-lg-8 col-md-8 col-sm-6 mainBox">
                <h2>manual<em></em></h2>


                <ul class="list3">
                    <li>
                        <div class="extra-wrap">
                            <h5>{{ manual.title }}</h5>
                            <p>Descrição:<br/>{{ manual.description }} </p>
                            <p><a href="{{ asset(manual.pic) }}">Download</a> </p>
                        </div>
                    </li>
                    
                </ul>
            </article>
        
        </div>
    </div>
{% endblock %}