<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block title %}início{% endblock %}</title>
<meta charset="utf-8">    
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--<link rel="icon" href="/img/favicon.ico" type="image/x-icon">-->
<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
<meta name="description" content="Your description">
<meta name="keywords" content="Your keywords">
<meta name="author" content="Your name">
<meta name = "format-detection" content = "telephone=no" />
<!--CSS-->
<link rel="stylesheet" href="/css/bootstrap.css" >
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/camera.css">
<link rel="stylesheet" href="/css/touchTouch.css">
<link rel="stylesheet" href="/fonts/font-awesome.css">
<!--JS-->
<script src="/js/jquery.js"></script>
<script src="/js/jquery-migrate-1.2.1.js"></script>
<script src="/js/superfish.js"></script>
<script src="/js/jquery.easing.1.3.js"></script>
<script src="/js/jquery.mobilemenu.js"></script>
<script src="/js/jquery.ui.totop.js"></script>
<script src="/js/camera.js"></script>
<script src="/js/jquery.equalheights.js"></script>
<script src="/js/touchTouch.jquery.js"></script>



<!--[if (gt IE 9)|!(IE)]><!-->
      <script src="/js/jquery.mobile.customized.min.js"></script>
<!--<![endif]-->
<!--[if lt IE 9]>
    <div style='text-align:center'><a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." /></a></div>  
    <script src="assets/assets/js/html5shiv.js"></script> 
    <script src="assets/assets/js/respond.min.js"></script>
<![endif]-->
</head>
<body>
<!--header-->
<header>
    <div class="container">
        <h1 class="navbar-brand navbar-brand_" style="margin-left: -30px; margin-top: -30px;">
            <div style='float: left;'>
                <a href="index.html"><img src="/img/logos/logo1.png" alt="" style="width: 220px;"></a><br>
            </div>
            <div style='margin-top: 10px;'>
                <div style='float: left;'><img src="/img/logos/logo2.png" style="width: 300px; margin-left: 25px;" /></div>
                <div style='float: left; margin-top: 10px;'>
                    <img src="/img/logos/logo3.png" style="width: 360px;" /><br />
                    <img src="/img/logos/logo4.png" style="width: 300px; margin-left: 23px;" />
                </div>
            </div>
        </h1>
       

        <div class="menuBox" style='margin-right: -45px; margin-top: -10px;'>
            <nav class="navbar navbar-default navbar-static-top tm_navbar clearfix" role="navigation">
                <ul class="nav sf-menu clearfix">
                    <li class="{% block inicio %}{% endblock %}"><a href="{{ path('andaime_frontend_homepage') }}">início</a>
                        <!--<ul class="submenu">
                            <li><a href="#">air conditioners</a></li>
                            <li><a href="#">ceiling fans</a></li>
                            <li><a href="#">air coolers</a></li>
                            <li><a href="#">air filters</a></li>
                            <li class="triangle"></li>
                        </ul>-->
                    </li>
                    <li class="{% block sobre %}{% endblock %}"><a href="{{ path('andaime_frontend_about') }}">a empresa</a></li>
                    <li class="{% block produtos %}{% endblock %}"><a href="{{ path('andaime_frontend_product') }}">produtos</a></li>
                    <li class="{% block servicos %}{% endblock %}"><a href="{{ path('andaime_frontend_service') }}">manuais</a></li>
                    <li class="{% block contato %}{% endblock %}"><a href="{{ path('andaime_frontend_contact') }}">contato</a></li>
                    <li class="{% block mapa %}{% endblock %}"><a href="{{ path('andaime_frontend_map') }}">mapa</a></li>
                </ul>
            </nav>
            
        </div>

        <div id="topo_atendimento" style="position: relative;   float: right;     font-size: 11px; font-family: FuturaLight'; color: #464646;     line-height: 1.4em;     margin: 0px 0px 0px 0;">
                
                    
            <div class="right" style="top: 15px; position: relative; float: right; text-align: right; margin: 0 7px 0 20px;">
                <h2 style="
                color: #464646; font-size: 1.9em; font-weight: bold; margin: 0; padding: 0; 
                margin-bottom: 2px;
                text-align: right;
                ">
                <span clas="ddd" style="font-size: 15px;">(21)</span> 2714-6363<br />
                <span clas="ddd" style="font-size: 15px;">(21)</span> 2612-1139</h2>
                <span class="right" style="font-size: 17px;">contato@andaimessaofrancisco.com.br</span>

            </div>
                    
                    
        </div>
    </div>
</header>
<div class="global {% block global %}{% endblock %}">
    {% block body %}{% endblock %}
</div>
<!--footer-->
<footer>
    <div class="container">
        <div class="row">
            <article class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
               
                <h4>Endereço</h4>
                <p>Estrada Engenheiro Pacheco de Carvalho - 817 <br /> Pendotiba (Paineiras) - Niterói - RJ
                    
            </article>
            <article class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <h4>Contato</h4>
                <p>(21) 2714-6363 / 2612-1139<br />contato@andaimessaofrancisco.com.br</p>
            </article>
            <article class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <ul>
                    <li><a href="{{ path('andaime_frontend_homepage') }}">início</a>
                    <li><a href="{{ path('andaime_frontend_about') }}">a empresa</a></li>
                    <li><a href="{{ path('andaime_frontend_product') }}">produtos</a></li>
                    <li><a href="{{ path('andaime_frontend_service') }}">manuais</a></li>
                    <li><a href="{{ path('andaime_frontend_contact') }}">contato</a></li>
                    <li><a href="{{ path('andaime_frontend_map') }}">mapa</a></li>
                </ul>
            </article>
            <article class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <h4>Redes Sociais</h4>
                <ul class="follow_icon">
                    <li><a href="http://www.facebook.com/AndaimesSaoFrancisco" target="_blank" class="fa fa-facebook"></a></li>
                    
                </ul>
            </article>
            <div class="clearfix"></div>
            <section class="col-lg-12 col-md-12 col-sm-12 privacy">
                <p>Andaimes São Francisco &copy; 2014 - Por Bernardo Alves</p>
            </section>
            <!-- FOOTER_LINK -->
        </div>
    </div>
</footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48489105-1', 'andaimessaofrancisco.com.br');
  ga('send', 'pageview');

</script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/tm-scripts.js"></script>
</body>
</html>
            	
           		
            